<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{%block title%}{%endblock title%}</title>
  </head>
  <body>
  <div id="page-container">
    <div id="topbar" class="text-center small_font">
      <p style="padding-top: 0.5rem"><i class="fas fa-phone-alt"></i> Call Us: 780-888-8888</p>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-0">
      <div class="container-fluid">
        <a class="navbar-brand p-0 m-0" href="#"><img id="logo" src="/static/img/new_logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse m-auto" id="navbarNavDropdown">
          <ul class="navbar-nav mx-auto nav_link">
            <li class="nav-item active">
              <a class="nav-link mr-3" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link mr-3" href="#">Services
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
          <button class="btn btn-primary quote_btn"><a class="get_quote" href="#">GET A FREE QUOTE</a></button>
        </div>
      </div>
    </nav>
    <hr class="my-0 ">
    <div id="content-wrap">
      {%block content%}
      {%endblock content%}

      <div id="bottom-bar">
        <div class="row">
          <div class="col big_font text-center">
            <img style="height: 10rem" src="/static/img/new_logo.png">
          </div>
          <div class="col text-center">
              <h4 class="green_text" style="margin-top: 2rem">Payment Methods</h4>
              <img style="height: 5rem" src="/static/img/payment.png">
          </div>
          <div class="col text-center green_text">
            <h4 style="margin-top: 2rem">Connect With Us</h4>
            <i class="fab fa-facebook-square bigger_font"></i>
            <i class="fab fa-twitter-square bigger_font"></i>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <p class="text-center small_font mb-0" style="padding-top: 0.5rem">
        Copyright <i class="far fa-copyright xsmall-font"></i> 2019 - All Rights Reserved - Kingdom Clean Commercial Janitorial Services
      </p>
    </div>
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>