{%extends 'base.html'%}
{% set active_page = "home" %}
{%block title%}Janitorial Services Edmonton | Kingdom Clean Commercial Janitorial Services{%endblock title%}

{%block content%}

<div style="position: relative">
    <img src="/static/img/banner.jpg" style="width: 100%;">
    <div class="banner_text">
        <h1 class="my-2"><span class="">Kingdom Clean</span></h1>
        <h4 class="my-2"><span class="">Commercial Janitorial Services</span></h4>
        <p class="my-2"><span class="">Make A Clean Progress!</span></p>
    </div>
</div>
<hr class="my-0">
<div class="container">
    <h2 class="text-center mt-5 big_font green_text">
        Dependable Commercial Janitorial Services
    </h2>
    <h3 class="text-center">Making <span class="green_text">Clean</span> Progress</h3>
    <p class="my-4 mid_font">
        Kingdom Cleaning is a leading provider of Commercial Janitorial and Maintenance services in the Edmonton Area. We offer a 100% complete customer satisfaction guarantee for all commercial cleaning services.
    </p>
    <hr>
    <h2 class="green_text">
        Our Key Principles
    </h2>
    <div class="row my-5 text-center">
        <div class="col">
            <div class="text-center">
                <i class="fas fa-building green_text bigger_font"></i>
                <h4 class="">Professionalism</h4>
            </div>
            <p class="lead"> Expert Janitorial Service Professionals.</p>
        </div>
        <div class="col">
            <div class="text-center">
                <i class="far fa-star green_text bigger_font"></i>
                <h4 class="">Quality</h4>
            </div>
            <p class="lead">Quality System with Customer Satisfaction Guarantees.</p>
        </div>
        <div class="col">
            <div class="text-center">
                <i class="fas fa-tasks green_text bigger_font"></i>
                <h4 class="">Dependability</h4>
            </div>
            <p class="lead">Trained, Certified and Dedicated Janitorial Staff.</p>
        </div>
    </div>
    <div class="row my-5 text-center">
        <div class="col">
            <div class="text-center">
                <i class="fas fa-award green_text bigger_font"></i>
                <h4 class="">Innovation</h4>
            </div>
            <p class="lead">Utilizing State-of-the-Art HEPA Filtration & UV-C sanitation.</p>
        </div>
        <div class="col">
            <div class="text-center">
                <i class="fab fa-envira green_text bigger_font"></i>
                <h4 class="">Green</h4>
            </div>
            <p class="lead">Environmentally responsible cleaning using Environmentally friendly Products.</p>
        </div>
        <div class="col">
            <div class="text-center">
                <i class="far fa-gem green_text bigger_font"></i>
                <h4 class="">Reputable</h4>
            </div>
            <p class="lead">Recognized for superior commercial janitorial services.</p>
        </div>
    </div>
    <hr>
    <div class="row mb-5">
        <div class="col vertical_divider">
            <h2 class="green_text text-center">Our Vision</h2>
            <p class="mid_font">
                To lead the commercial janitorial industry through great customer service, cutting-edge cleaning methods and environmentally friendly practices.
            </p>
        </div>
        <div class="col">
            <h2 class="green_text text-center">Our Mission</h2>
            <p class="mid_font">
                To provide excellent cleaning service to the business in the Edmonton Area, allowing your business to focus on the important things.
            </p>
        </div>
    </div>
</div>

{%endblock%}